# IntelliJ IDEA / WebStorm
.idea/
*.iml

# Visual Studio Code
.vscode/

# ----------------------------------------------------------------------
# Cấu hình của Hệ điều hành (OS)
# ----------------------------------------------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ----------------------------------------------------------------------
# File Log chung (nếu có)
# ----------------------------------------------------------------------
*.log